{{ define "main" }}
<main id="home">
  <section class="text-center py-4 mt-0 header-plasma20" style="background: linear-gradient(128deg, #01d486 0%, #3daee8 100%); color: white">
    <h1 style="color: #eff0f1 !important">{{ .Params.name }}</h1>
    <h2 style="color: #eff0f1 !important">{{ .Site.Params.description }}</h2>
        <p>{{ i18n "available" }}</p>
        <a href="{{ "/download" | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button noblefir my-2 mx-3">{{ i18n "download" }}</a>
    <div class="laptop-with-overlay d-block mt-5 mb-3 mx-auto w-100" style="max-width: 1000px">
      <img class="laptop img-fluid" src="/reusable-assets/laptop.svg" alt="">
      <div class="laptop-overlay">
        <img class="img-fluid" src="/images/kdevelop-window.webp" alt="{{ i18n "plasma" }} ">
      </div>
    </div>
  </section>

  <section id="kde-connect">
    <div class="container">
      <h2 class="h1">{{ i18n "features" }}</h2>
      <h3 class="h2">{{ i18n "features-subtitle" }}</h3>
      <p>{{ i18n "features-desc" | markdownify }}</p>
      <p>
      <a class="learn-more mt-3" hreflang="{{ .Site.LanguagePrefix }}" href="{{ "/features/" | relLangURL }}">{{ i18n "all-features" }}</a>
      </p>
      <div>
      <h3 class="mt-5">{{ i18n "completion-color" | markdownify }}</h3>
      <div class="row mb-5 app">
        <div class="col-12 col-lg-7">
          <div>
            <p>{{ i18n "completion-more" }}
            <img src="/images/code-comprehension.webp" alt="{{ i18n "kdevelop-completion-screen" }}" loading="lazy" width="739" height="310" />
          </div>
        </div>
      </div>
      <h3 class="mt-5">{{ i18n "language-support" }}</h3>
      <div class="row app">
        <div class="col-12 col-lg-10">
          <div class="w-100">
            <p>{{ i18n "language-support-desc" | markdownify }}</p>
            <img src="/images/kdevelop-code.png" alt="{{ i18n "multicursor-example" }}" class="img-fluid border">
          </div>
        </div>
      </div>
      <h3 class="mt-5">{{ i18n "projects-work" }}</h3>
      <div class="row app">
        <div class="col-12 col-lg-8">
          <div class="w-100">
            <p>{{ i18n "project-desc" }}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <img class="img-fluid mt-3 mt-md-0" src="/images/multiple-projects.webp" alt="{{ i18n "kate-sidebar" }}" width="376" height="668" loading="lazy" />
        </div>
      </div>
      <h3 class="mt-5">{{ i18n "documentation" }}</h3>
      <div class="row app">
        <div class="col-12 col-lg-10">
          <div class="w-100">
            <p>{{ i18n "documentation-desc" | markdownify }}</p>
            <img src="/images/kdevelop-documentation.png" alt="{{ i18n "kate-search-example" }}" class="img-fluid border">
          </div>
        </div>
      </div>
      <h3 class="mt-5">{{ i18n "plugins" }}</h3>
      <div class="row app">
        <div class="col-12 col-lg-10">
          <div class="w-100">
            <p>{{ i18n "plugins-desc" | markdownify }}</p>
            <img src="/images/plugins.webp" alt="{{ i18n "kate-konsole" }}" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-green py-4">
    <div class="container">
      <h2 class="mb-3 h1">{{ i18n "posts" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/news").RegularPagesRecursive }}
      {{ range first 4 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-6 mb-4">
          <div class="text-lighter">{{ partial "i18n_date.html" . }}</div>
          <h3 class="mt-1 h4">{{ .Title | safeHTML}}</h3>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description }}
            {{else}}
              {{ .Summary }}
            {{end}}
            {{ if .Truncated }}
              <a href="{{ .Permalink }}" class="d-block mt-2">{{i18n "read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{end}}
      </div>
      <a href="news/" class="learn-more mt-3" style="font-weight: bold;">&#x1F4E2; {{ i18n "view-all-posts" }}</a>
    </div>
  </section>
</main>
{{ end }}
