{{/*
SPDX-FileCopyrightText: 2021 Phu Hung Nguyen <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<div class="d-flex appstream-badges">
{{ partial "store_badge.html" (dict "type" "appstream" "link" "appstream://org.kde.kdevelop.desktop" "hideInfo" "true" "divClass" "me-3") }}
</div>
<div class="appstream-badges-info">
  {{- $discoverLink := relLangURL "/discover" | print "https://apps.kde.org" }}
  {{- $muonLink := relLangURL "/muon" | print "https://apps.kde.org" }}
  {{- partial "fn/i18n_args" (slice "appstream-badges-info" $discoverLink $muonLink) | markdownify }}
</div>
<!-- kate: syntax Mustache/Handlebars (HTML); indent-width 2; -->
